<div class="container-fluid" data-controller='team-show'>
  <div class="team-show-container">
    <h1> <%= @team.name %></h1>
    <div class="team-show-main-content-container">
      <div class="team-show-game-title">
        <h2> Last ten games</h2>
        <i class="fa-solid fa-chevron-down"
                              id="ten-games-chevron"
                              data-action="click->team-show#showWinLoseMenu"></i>
        <div class="team-show-win-lose-menu" data-team-show-target="winLoseMenu">
          <div class="team-show-win-lose-menu-item" data-action="click->team-show#sortByWin" data-team-show-target="win">
            <ul>Win</ul>
          </div>
          <div class="team-show-win-lose-menu-item" data-action="click->team-show#sortByLose" data-team-show-target="lose">
            <ul>Lose</ul>
          </div>
        </div>
      </div>
      <div class="team-show-games-container">
        <% @past_games.first(10).each do |game| %>
          <div class="team-show-game-card" data-action="click->team-show#launchGame"
                                           data-game-date="<%= game.date.to_date.strftime('%d %b').upcase %>"
                                           data-visitor-name="<%= game.visitor_team.name %>"
                                           data-visitor-logo="<%= game.visitor_team.logo.url %>"
                                           data-visitor-score="<%= game.visitor_team_score %>"
                                           data-home-name="<%= game.home_team.name %>"
                                           data-home-logo="<%= game.home_team.logo.url %>"
                                           data-home-score="<%= game.home_team_score %>"
                                           data-team-show-target='gameCard'
                                           data-team-name='<%= @team.name %>'>
            <div class="win-lose-container">
              <% if  game.win?(game,@team) %>
                  <i class="fa-solid fa-check win-game-card"></i>
              <% else %>
                  <i class="fa-solid fa-xmark lose-game-card"></i>
              <% end %>
            </div>
            <div class="team-show-game-card-date" >
              <%= game.date.to_date.strftime('%d %b').upcase %>
            </div>
            <div class="team-show-game-card-information
                        team-show-game-card-information-visitor
                        <%= 'winning-team' if game.visitor_team_score > game.home_team_score %>">
              <div>
                <%= cl_image_tag game.visitor_team.logo.key %>
                <%= game.visitor_team.name.split(' ').last %>
              </div>
              <%= game.visitor_team_score%>
            </div>
            <div class="team-show-game-card-information
                        team-show-game-card-information-home
                        <%= 'winning-team' if game.visitor_team_score < game.home_team_score %>">
              <div>
                <%= cl_image_tag game.home_team.logo.key %>
                <%= game.home_team.name.split(' ').last  %>
              </div>
              <%= game.home_team_score %>
            </div>
          </div>
          <div id='modal-game' class="modal" data-controller="modal-game" data-team-show-target='modalGame' data-backdrop="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                    <div class='modal-cross-container'data-action="click->modal-game#close">
                      <i class="fas fa-times"></i>
                    </div>
                    <div class="modal-team-container">
                      <div class="modal-team-name">
                        <%= cl_image_tag game.visitor_team.logo.key, data: {modal_game_target: "visitorLogo"} %>
                        <p data-modal-game-target='visitorName'></p>
                      </div>
                      <p class='modal-team-score' data-modal-game-target='visitorScore'></p>
                      <div>
                        <p class='modal-team-separator'> - </p>
                      </div>
                      <p class='modal-team-score' data-modal-game-target='homeScore'></p>
                      <div class="modal-team-name">
                        <%= cl_image_tag game.home_team.logo.key, data: {modal_game_target: "homeLogo"} %>
                        <p data-modal-game-target='homeName'></p>
                      </div>
                    </div>
                    <div class="modal-team-stats-container">
                      <div class="modal-team-stats-container-visitor">
                        <table class="modal-team-stats-table">
                          <thead>
                            <tr>
                              <th style='text-align:left'>Player</th>
                              <th>MIN</th>
                              <th>PTS</th>
                              <th>FG%</th>
                              <th>3PM</th>
                              <th>FG3%</th>
                              <th>AST</th>
                              <th>RBD</th>
                              <th>STL</th>
                              <th>BLK</th>
                              <th>TO</th>
                            </tr>
                          </thead>
                          <tbody>
                              <% game.stats.sort_by { |stat| stat.min }.reverse.map do |stat| %>
                                <% if game.visitor_team.name == stat.player.team.name && stat.min.positive? %>
                                  <tr>
                                      <td style='text-align:left'> <%= stat.player.first_name.first %>. <%= stat.player.last_name %> </td>
                                      <td> <%= stat.min %> </td>
                                      <td> <%= stat.pts %> </td>
                                      <td> <%= (stat.fg_pct).to_i %></td>
                                      <td> <%= stat.fg3_made %> </td>
                                      <td> <%= (stat.fg3_pct).to_i %></td>
                                      <td> <%= stat.ast %> </td>
                                      <td> <%= stat.reb %> </td>
                                      <td> <%= stat.stl %> </td>
                                      <td> <%= stat.blk %> </td>
                                      <td> <%= stat.turnover %> </td>
                                    </tr>
                                  </div>
                                <% end %>
                              <% end %>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-team-stats-container-home">
                        <table class="modal-team-stats-table">
                          <thead>
                            <tr>
                              <th style='text-align:left'>Player</th>
                              <th>MIN</th>
                              <th>PTS</th>
                              <th>FG%</th>
                              <th>3PM</th>
                              <th>FG3%</th>
                              <th>AST</th>
                              <th>RBD</th>
                              <th>STL</th>
                              <th>BLK</th>
                              <th>TO</th>
                            </tr>
                          </thead>
                          <tbody>
                              <% game.stats.sort_by { |stat| stat.min }.reverse.map do |stat| %>
                                <% if game.home_team.name == stat.player.team.name && stat.min.positive? %>
                                    <tr>
                                      <td style='text-align:left'> <%= stat.player.first_name.first %>. <%= stat.player.last_name %> </td>
                                      <td> <%= stat.min %> </td>
                                      <td> <%= stat.pts %> </td>
                                      <td> <%= (stat.fg_pct).to_i %></td>
                                      <td> <%= stat.fg3_made %> </td>
                                      <td> <%= (stat.fg3_pct).to_i %></td>
                                      <td> <%= stat.ast %> </td>
                                      <td> <%= stat.reb %> </td>
                                      <td> <%= stat.stl %> </td>
                                      <td> <%= stat.blk %> </td>
                                      <td> <%= stat.turnover %> </td>
                                    </tr>
                                <% end %>
                              <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="team-show-main-content-container">
      <h2> Players</h2>
      <div class="team-show-players-container">
        <% @players.each do |player| %>
          <%= link_to player_path(player) do %>
            <div class="team-show-players-card">
              <div class="team-show-players-card-logo-container">
                <%= cl_image_tag player.team.logo.key %>
              </div>
              <div class="team-show-players-card-rating">
                <p id='player-card-score'><%= player.average[:rating].round(0) %></p>
              </div>
              <% if player.image_url.nil? %>
                <i class="fa-solid fa-user"></i>
              <% else %>
                <%= image_tag player.image_url, alt: "Player avatar", width: 190, id: "avatar_player" %>
              <% end %>
              <h3> <%= player.first_name %> <%= player.last_name %> </h3>
              <h5>
                <% if player.position == 'C' %>
                  <%= 'Center' %>
                <% elsif player.position == 'F' %>
                  <%= 'Forward' %>
                <% elsif player.position == 'G' %>
                  <%= 'Guard' %>
                <% else %>
                  <%= player.position %>
                <% end %>
              </h5>
              <div class="team-show-players-card-description">
                <h5>Last ten games</h5>
                <div class="team-show-players-card-stat">
                  <p>Minutes</p>
                  <p id='card-stat-row'><%= player.average[:min] %></p>
                </div>
                <div class="team-show-players-card-stat">
                  <p>Points</p>
                <p id='card-stat-row'><%= player.average[:pts] %></p>
                </div>
                <div class="team-show-players-card-stat">
                  <p>Assits</p>
                  <p id='card-stat-row'><%= player.average[:ast] %></p>
                </div>
                <div class="team-show-players-card-stat">
                  <p>Rebonds</p>
                  <p id='card-stat-row'><%= player.average[:reb] %></p>
                </div>
                <div class="team-show-players-card-stat">
                  <p>Blocks</p>
                  <p id='card-stat-row'><%= player.average[:blk] %></p>
                </div>
                <div class="team-show-players-card-stat">
                  <p>Steals</p>
                  <p id='card-stat-row'><%= player.average[:stl] %></p>
                </div>
                <div class="team-show-players-card-stat">
                  <p>Turnover</p>
                  <p id='card-stat-row'><%= player.average[:turnover] %></p>
                </div>
                <div class="team-show-players-card-stat">
                  <p>Games played</p>
                  <p id='card-stat-row'><%= player.average[:games_played] %></p>
                </div>
                <div class="team-show-players-card-stat">
                  <p>5-avg / 10-avg </p>
                  <% five_game_plus_minus = (player.average[:rating_five_games]  - player.average[:rating]).round(1) %>
                  <% if player.average[:rating_five_games].zero? %>
                    <p> - </p>
                  <% else %>
                    <p id='card-stat-row' class="<%= 'team-show-players-card-fga-positive' if five_game_plus_minus > 0 %>
                                                <%= 'team-show-players-card-fga-negative' if five_game_plus_minus < 0 %>">
                      <%= five_game_plus_minus %>
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
