<table class="conference-container <%= teams == @western_teams ? 'western-conference' : 'eastern-conference' %>">
  <thead>
    <tr>
      <th>Teams</th>
      <th class="text-center">W</th>
      <th class="text-center">D</th>
      <th class="text-center">%</th>
    </tr>
  </thead>
  <tbody>
    <% teams.each_with_index do |team, index| %>
      <% team_name = team.name.split.last %>
      <tr>
        <td class="d-flex align-items-center flex-wrap">
          <p class="team-rank"><%= index + 1 %></p>
          <%= cl_image_tag(team.logo.key, style: "width: 23px; margin: 0 8px 0 4px") %>
          <p><%= team_name %></p>
        </td>
        <td class="text-center"><%= team.win_lose_counter[:win] %></td>
        <td class="text-center"><%= team.win_lose_counter[:lose] %></td>
        <td class="text-center"><%= team.win_lose_counter[:win_rate] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
