<div class="modal-team-container">
  <div class="modal-team-name">
    <%= cl_image_tag game.visitor_team.logo.key, data: {modal_game_target: "visitorLogo"} %>
    <p data-modal-game-target='visitorName'></p>
  </div>
  <p class='modal-team-score' data-modal-game-target='visitorScore'></p>
  <div>
    <p class='modal-team-separator'> - </p>
  </div>
  <p class='modal-team-score' data-modal-game-target='homeScore'></p>
  <div class="modal-team-name">
    <%= cl_image_tag game.home_team.logo.key, data: {modal_game_target: "homeLogo"} %>
    <p data-modal-game-target='homeName'></p>
  </div>
</div>
<div class="modal-team-stats-container">
  <div class="modal-team-stats-container-visitor">
    <table class="modal-team-stats-table">
      <thead>
        <tr>
          <th style='text-align:left'>Player</th>
          <th>MIN</th>
          <th>PTS</th>
          <th>FG%</th>
          <th>3PM</th>
          <th>FG3%</th>
          <th>AST</th>
          <th>OFREB</th>
          <th>DREB</th>
          <th>RBD</th>
          <th>STL</th>
          <th>BLK</th>
          <th>TO</th>
        </tr>
      </thead>
      <tbody>
          <% game.stats.sort_by { |stat| stat.min }.reverse.map do |stat| %>
            <% if game.visitor_team.name == stat.player.team.name %>
              <tr>
                  <td style='text-align:left'> <%= stat.player.first_name %> <%= stat.player.last_name %> </td>
                  <td> <%= stat.min %> </td>
                  <td> <%= stat.pts %> </td>
                  <td> <%= (stat.fg_pct).round(1) %></td>
                  <td> <%= stat.fg3_made %> </td>
                  <td> <%= (stat.fg3_pct).round(1) %></td>
                  <td> <%= stat.ast %> </td>
                  <td> <%= stat.reb - stat.dreb %> </td>
                  <td> <%= stat.dreb %> </td>
                  <td> <%= stat.reb %> </td>
                  <td> <%= stat.stl %> </td>
                  <td> <%= stat.blk %> </td>
                  <td> <%= stat.turnover %> </td>
                </tr>
              </div>
            <% end %>
          <% end %>
      </tbody>
    </table>
  </div>
  <div class="modal-team-stats-container-home">
    <table class="modal-team-stats-table">
      <thead>
        <tr>
          <th style='text-align:left'>Player</th>
          <th>MIN</th>
          <th>PTS</th>
          <th>FG%</th>
          <th>3PM</th>
          <th>FG3%</th>
          <th>AST</th>
          <th>OFREB</th>
          <th>DREB</th>
          <th>RBD</th>
          <th>STL</th>
          <th>BLK</th>
          <th>TO</th>
        </tr>
      </thead>
      <tbody>
          <% game.stats.sort_by { |stat| stat.min }.reverse.map do |stat| %>
            <% if game.home_team.name == stat.player.team.name %>
                <tr>
                  <td style='text-align:left'> <%= stat.player.first_name %> <%= stat.player.last_name %> </td>
                  <td> <%= stat.min %> </td>
                  <td> <%= stat.pts %> </td>
                  <td> <%= (stat.fg_pct).round(1) %></td>
                  <td> <%= stat.fg3_made %> </td>
                  <td> <%= (stat.fg3_pct).round(1) %></td>
                  <td> <%= stat.ast %> </td>
                  <td> <%= stat.reb - stat.dreb %> </td>
                  <td> <%= stat.dreb %> </td>
                  <td> <%= stat.reb %> </td>
                  <td> <%= stat.stl %> </td>
                  <td> <%= stat.blk %> </td>
                  <td> <%= stat.turnover %> </td>
                </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
