<div class="navbar-lewagon" data-controller='navbar'
                            data-navbar-controller-value='<%= controller_name %>'>
  <div class='navbar-logos-container'>
      <%= link_to image_tag("https://res.cloudinary.com/dj1mlcnes/image/upload/v1667402674/nba-project/NBA_National_Basketball_Association_Logo_PNG720p_-_Vector69Com_sp3eun.png",
                           alt: "NBA", width: 80), root_path  %>
      <% unless action_name == 'home'%>
        <%= link_to 'Games', games_path, class:'navbar-link', data: {navbar_target: 'game'} %>
        <%= link_to 'Players', players_path, class:'navbar-link', data: {navbar_target: 'player'} %>
        <%= link_to 'Teams', teams_path, class:'navbar-link', data: {navbar_target: 'team'} %>
      <% end %>
  </div>
  <div>
      <i class="fa-solid fa-user" data-action="click->navbar#showMenu"></i>
  </div>


  <div class="navbar-menu" data-navbar-target="navbarMenu">
    <% if user_signed_in? %>
      <li id="navbar-username"> <%= current_user.username %> </li>
      <li class="navbar-menu-item"> <%= link_to "Favorites", favorite_path, class: "dropdown-item" %> </li>
      <li class="navbar-menu-item"> <%= link_to "Player vs Player", player_vs_player_path, class: "dropdown-item" %> </li>
      <li class="navbar-menu-item"> <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %> </li>
    <% else %>
      <li class="navbar-menu-item"> <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %> </li>
      <li class="navbar-menu-item"> <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %> </li>
    <% end %>
  </div>




</div>
