<div class="navbar-lewagon" data-controller='navbar'
                            data-navbar-controller-value='<%= controller_name %>'>
  <div class='navbar-logos-container'>
      <%= link_to image_tag("https://res.cloudinary.com/dj1mlcnes/image/upload/v1667402674/nba-project/NBA_National_Basketball_Association_Logo_PNG720p_-_Vector69Com_sp3eun.png",
                           alt: "NBA", width: 80), root_path  %>
      <% unless action_name == 'home'%>
        <%= link_to 'Games', games_path, class:'navbar-link', data: {navbar_target: 'game'} %>
        <%= link_to 'Players', players_path, class:'navbar-link', data: {navbar_target: 'player'} %>
        <%= link_to 'Teams', teams_path, class:'navbar-link', data: {navbar_target: 'team'} %>
      <% end %>
  </div>
  <div>
      <i class="fa-solid fa-user"></i>
  </div>
</div>
