<%= javascript_pack_tag 'home/home_title_animation.js' %>

<div class="container-home">
  <div class="home-background">
    <div class="home-menu-list">
      <% menu_items = [
        { title: 'Teams', path: teams_path },
        { title: 'Games reviews', path: games_path },
        { title: 'Players stats', path: players_path },
        { title: 'Players VS', path: player_vs_player_path },
        { title: 'Fantasy League', path: players_path }
      ] %>

      <% menu_items.each do |item| %>
        <%= render 'shared/home_menu', title: item[:title], path: item[:path], data: item[:data] %>
      <% end %>
    </div>

    <div class="nba-standings-container">
      <h1>NBA Standings 2023-24</h1>
      <div class="d-flex">
        <div class="western-conference-standings">
          <% @western_teams.each_with_index do |team, index|%>
            <div> <%= index + 1 %>. <%= team.name.truncate(20) %> //  W<%= team.win_lose_counter[:win] %> - D<%= team.win_lose_counter[:lose] %> </div>
          <% end %>
        </div>
        <div style='margin-left:32px' class="eastern-conference-standings">
          <% @eastern_teams.each_with_index do |team, index|%>
            <div> <%= index + 1 %>. <%= team.name.truncate(20) %> //  W<%= team.win_lose_counter[:win] %> - D<%= team.win_lose_counter[:lose] %> </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
