<%= javascript_pack_tag 'home/home_title_animation.js' %>

<div class="container-home">
  <div class="home-background">
    <div class="home-menu-list">
      <% menu_items = [
        { title: 'Teams', path: teams_path },
        { title: 'Games reviews', path: games_path },
        { title: 'Players stats', path: players_path },
        { title: 'Players VS', path: player_vs_player_path },
        { title: 'Fantasy League', path: players_path }
      ]%>

      <% menu_items.each do |item| %>
        <div class="home-menu-list-item">
          <%= link_to(item[:path]) do %>
            <i class="fa-solid fa-basketball invisible"></i>
            <p><%= item[:title] %></p>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="nba-standings-container">
      <h1>NBA Standings 2023-24</h1>
      <div class="standings-lists">
        <%= render partial: 'shared/conference_standings', locals: { teams: @western_teams } %>
        <%= render partial: 'shared/conference_standings', locals: { teams: @eastern_teams } %>
      </div>
    </div>
  </div>
</div>
