<div class="versus-container" data-controller='versus'>
  <div class="versus-container-before-submit <%= 'd-none' unless @players.empty? %>">
    <div class="versus-form-container">
      <% if flash[:error] %>
        <script>
         alert("<%= flash[:error] %>");
         </script>
      <% end %>
      <%= simple_form_for :search, url: player_vs_player_path, method: "GET", html: { class: 'form-inline' } do |f| %>
        <%= f.input :player_one_id,
                    :label => false,
                    as: :select,
                    collection: @list_active_players,
                    input_html: { data: {versus_target: "playerOneForm"}, class: "player-one-input" } %>
        <%= f.input :player_two_id,
                    :label => false,
                    as: :select,
                    collection: @list_active_players,
                    input_html: { data: {versus_target: "playerTwoForm"} } %>
        <%= f.submit "CONFIRM PLAYERS", class: "versus-button-container",
                                        input_html: {class: "btn-versus-confirm"} %>
      <% end %>
    </div>
    <div class="versus-players-container">
      <div class="versus-player-card-hover">
        <div class="versus-player-card d-none" data-versus-target='playerOneCard' data-action='mouseenter->versus#mouseEnter
                                                                                              mouseleave->versus#mouseLeave'>
          <div class="versus-player-card-img-container">
            <img src="" alt="Player Image" data-versus-target='playerOneImage'>
          </div>
          <div class="versus-player-card-description">
            <div class="versus-player-card-description-team">
              <h4> Team </h4>
              <h3 data-versus-target='playerOneTeam'></h3>
            </div>
            <div class="versus-player-card-description-bottom">
              <div class="versus-player-card-description-bottom-content">
                <h4> Position </h4>
                <h3 data-versus-target='playerOnePosition'></h3>
              </div>
              <div class="versus-player-card-description-bottom-content">
                <h4> Score </h4>
                <h3 data-versus-target='playerOneName'></h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="versus-logo-vs-container">
        <%= image_tag "versus.png", class: "", alt: "versus" %>
      </div>

      <div class="versus-player-card-hover">
        <div class="versus-player-card d-none" data-versus-target='playerTwoCard' data-action='mouseenter->versus#mouseEnter
                                                                                              mouseleave->versus#mouseLeave'>
          <div class="versus-player-card-img-container">
            <img src="" alt="Player Image" data-versus-target='playerTwoImage'>
          </div>
          <div class="versus-player-card-description">
            <div class="versus-player-card-description-team">
              <h4> Team </h4>
              <h3 data-versus-target='playerTwoTeam'></h3>
            </div>
            <div class="versus-player-card-description-bottom">
              <div class="versus-player-card-description-bottom-content">
                <h4> Position </h4>
                <h3 data-versus-target='playerTwoPosition'></h3>
              </div>
              <div class="versus-player-card-description-bottom-content">
                <h4> Score </h4>
                <h3 data-versus-target='playerTwoName'></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="versus-container-after-submit <%= 'd-none' if @players.empty? %>">
    <% unless @players.empty? %>
      <% player = @players.first %>
      <div class ="team-show-players-card versus-player-card-start"
           data-versus-target='playerCardAfter'>
        <div class="team-show-players-card-logo-container">
          <%= cl_image_tag player.team.logo.key %>
        </div>
        <div class="team-show-players-card-rating">
          <p id='player-card-score'><%= player.average[:rating].round(0) %></p>
        </div>
        <% if player.image_url.nil? %>
          <i class="fa-solid fa-user"></i>
        <% else %>
          <%= image_tag player.image_url, alt: "Player avatar", width: 190, id: "avatar_player" %>
        <% end %>
        <h3> <%= player.first_name %> <%= player.last_name %> </h3>
        <h5>
          <% if player.position == 'C' %>
            <%= 'Center' %>
          <% elsif player.position == 'F' %>
            <%= 'Forward' %>
          <% elsif player.position == 'G' %>
            <%= 'Guard' %>
          <% else %>
            <%= player.position %>
          <% end %>
        </h5>
        <div class="team-show-players-card-description">
          <h5>Last ten games</h5>
          <div class="team-show-players-card-stat">
            <p>Minutes</p>
            <p id='card-stat-row'><%= player.average[:min] %></p>
          </div>
          <div class="team-show-players-card-stat">
            <p>Points</p>
          <p id='card-stat-row'><%= player.average[:pts] %></p>
          </div>
          <div class="team-show-players-card-stat">
            <p>Assits</p>
            <p id='card-stat-row'><%= player.average[:ast] %></p>
          </div>
          <div class="team-show-players-card-stat">
            <p>Rebonds</p>
            <p id='card-stat-row'><%= player.average[:reb] %></p>
          </div>
          <div class="team-show-players-card-stat">
            <p>Blocks</p>
            <p id='card-stat-row'><%= player.average[:blk] %></p>
          </div>
          <div class="team-show-players-card-stat">
            <p>Steals</p>
            <p id='card-stat-row'><%= player.average[:stl] %></p>
          </div>
          <div class="team-show-players-card-stat">
            <p>Turnover</p>
            <p id='card-stat-row'><%= player.average[:turnover] %></p>
          </div>
          <div class="team-show-players-card-stat">
            <p>Games played</p>
            <p id='card-stat-row'><%= player.average[:games_played] %></p>
          </div>
          <div class="team-show-players-card-stat">
            <p>5-avg / 10-avg </p>
            <% five_game_plus_minus = (player.average[:rating_five_games]  - player.average[:rating]).round(1) %>
            <% if player.average[:rating_five_games].zero? %>
              <p> - </p>
            <% else %>
              <p id='card-stat-row' class="<%= 'team-show-players-card-fga-positive' if five_game_plus_minus > 0 %>
                                          <%= 'team-show-players-card-fga-negative' if five_game_plus_minus < 0 %>">
                <%= five_game_plus_minus %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>



    <div class="versus-player-table-comparison">
      <h3> TABLE </h3>
    </div>



    <% unless @players.empty? %>
      <% player = @players.last %>
      <div class ="team-show-players-card versus-player-card-start"
           data-versus-target='playerCardAfter'>
        <div class="team-show-players-card-logo-container">
          <%= cl_image_tag player.team.logo.key %>
        </div>
        <div class="team-show-players-card-rating">
          <p id='player-card-score'><%= player.average[:rating].round(0) %></p>
        </div>
        <% if player.image_url.nil? %>
          <i class="fa-solid fa-user"></i>
        <% else %>
          <%= image_tag player.image_url, alt: "Player avatar", width: 190, id: "avatar_player" %>
        <% end %>
        <h3> <%= player.first_name %> <%= player.last_name %> </h3>
        <h5>
          <% if player.position == 'C' %>
            <%= 'Center' %>
          <% elsif player.position == 'F' %>
            <%= 'Forward' %>
          <% elsif player.position == 'G' %>
            <%= 'Guard' %>
          <% else %>
            <%= player.position %>
          <% end %>
        </h5>
        <div class="team-show-players-card-description">
          <h5>Last ten games</h5>
          <div class="team-show-players-card-stat">
            <p>Minutes</p>
            <p id='card-stat-row'><%= player.average[:min] %></p>
          </div>
          <div class="team-show-players-card-stat">
            <p>Points</p>
          <p id='card-stat-row'><%= player.average[:pts] %></p>
          </div>
          <div class="team-show-players-card-stat">
            <p>Assits</p>
            <p id='card-stat-row'><%= player.average[:ast] %></p>
          </div>
          <div class="team-show-players-card-stat">
            <p>Rebonds</p>
            <p id='card-stat-row'><%= player.average[:reb] %></p>
          </div>
          <div class="team-show-players-card-stat">
            <p>Blocks</p>
            <p id='card-stat-row'><%= player.average[:blk] %></p>
          </div>
          <div class="team-show-players-card-stat">
            <p>Steals</p>
            <p id='card-stat-row'><%= player.average[:stl] %></p>
          </div>
          <div class="team-show-players-card-stat">
            <p>Turnover</p>
            <p id='card-stat-row'><%= player.average[:turnover] %></p>
          </div>
          <div class="team-show-players-card-stat">
            <p>Games played</p>
            <p id='card-stat-row'><%= player.average[:games_played] %></p>
          </div>
          <div class="team-show-players-card-stat">
            <p>5-avg / 10-avg </p>
            <% five_game_plus_minus = (player.average[:rating_five_games]  - player.average[:rating]).round(1) %>
            <% if player.average[:rating_five_games].zero? %>
              <p> - </p>
            <% else %>
              <p id='card-stat-row' class="<%= 'team-show-players-card-fga-positive' if five_game_plus_minus > 0 %>
                                          <%= 'team-show-players-card-fga-negative' if five_game_plus_minus < 0 %>">
                <%= five_game_plus_minus %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="versus-button-container">
        <%= link_to "RESET PLAYERS", player_vs_player_path %>
      </div>
    <% end %>
  </div>
</div>
